<!DOCTYPE html>
<layout:html lang="en" xmlns:th="http://www.thymeleaf.org"
             layout:decorator="menu" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title>List Topics</title>
    </head>
    <body>

    <div layout:fragment="content">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="topic, iterationStatus : ${topics}">
                <td th:text="${iterationStatus.count}">1</td>
                <td th:text="${topic.name}">Name</td>
            </tr>
            </tbody>
        </table>

    </div>

    </body>
</layout:html>