<!DOCTYPE html>
<layout:html lang="en" xmlns:th="http://www.thymeleaf.org"
             layout:decorator="menu" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title th:text="|View Inquiry - ${inquiry.customerName}|">View Inquiry</title>
    </head>
    <body>

    <div layout:fragment="content">

        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/customers">Inquiries</a></li>
            <li class="active" th:text="${inquiry.customerName}"></li>
        </ol>

        <article>
            <header>
                <h2 th:text="${inquiry.topic.name}">topic</h2>
                <p th:text="'Customer Name: ' + ${inquiry.customerName}">customer Name</p>
                <p th:text="'Create Date: ' + ${#calendars.format(inquiry.createDate,'yyyy-MM-dd HH:mm:ss')}">
                    createDate</p>
                <p th:text="'Attributes: ' + ${inquiry.attributes}">attributes</p>
            </header>
            <section th:utext="${inquiry.description}">description</section>
            <footer>
            </footer>
            <hr/>
        </article>

    </div>

    </body>
</layout:html>